*{
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  vertical-align: middle;
}
.bg-main-color{
  background-color: #543B17;
}
.text-main-color{
  color:#DDD8D1 ;
}
.swiper-button-prev,
.swiper-button-next{  
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1.5px solid #ddd;
  transition: .3s .2s;
  opacity:0;
  background-color: #543B17;
}
.swiper-button-next:after, 
.swiper-button-prev:after {
  font-size: 1rem;
  color: #ddd;
}
.swiper-button-prev{
  transform: translateX(1rem);
}
.swiper-button-next{
  transform: translateX(-1rem);
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next{
  opacity: 1;
  transform: translateX(0);
  
}
.swiper-button-prev:hover,
.swiper-button-next:hover{  
  background-color: #7a5d34;
  border: 1.5px solid #7a5d34;
}

.swiper-pagination-bullet{
  background-color: transparent;
  border: 3px solid #ddd;
}

.swiper-pagination-bullet:hover{
  opacity: .5;
}
.swiper-pagination-bullet-active{
  opacity: 1;
  background-color: #fff;
  border-color: #fff;
}
