*{
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  vertical-align: middle;
}
.bg-main-color{
  background-color: #543B17;
}
.text-main-color{
  color:#DDD8D1 ;
}
.fixed{
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  transition: 1s;
  
}
.App{
  margin-top: 140px;
}